
nav p{
    font-family: italic, 'Arial Narrow Bold', sans-serif;
    top: 0;
    margin-left:10% ;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
    float: left;
    background-color: red;
    font-style: italic;
    cursor: pointer; 
    border-radius: 50px;  
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: italic;
    position: relative;
    overflow: hidden;    
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5); 
    z-index: 50px;

    &:hover{
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.7);
        padding-top: 6px;
        padding-bottom: 6px;
    }

}

nav{
    position: sticky;
    top: 0;
    z-index: 11;
}
.clear{
    clear: both;
}
body{
    background-image: url("../wall2.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    min-height: 10000px;
}

h1{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 70px;
    text-shadow:  0px 5px 10px rgba(0, 0, 0, 0.9); ;
}


.Button .Login {
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    padding: 5px 15px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    color: black;
    background-color: #ff0000;
    font-family: "IBM Plex Serif", serif;
    font-weight: 900;
    font-style: italic;
    &:hover{
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,3);
        padding-top: 6px;
        padding-bottom: 5px;
    }

    right: 150px;
    top: 40px;
}

.SignUP{
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    padding: 4px 10px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    color: black;
    background-color: #ff0000;
    font-family: "IBM Plex Serif", serif;
    font-weight: 900;
    font-style: italic;
    &:hover{
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,3);
        padding-top: 6px;
        padding-bottom: 5px;
    }
    right: 40px;
    top: 40px;
}



.top-buttom{
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);
    height: 70px;
    width: 70px;
    position: fixed;
    background-color: #0873a8;
    cursor: pointer;
    right: 15px;
    bottom: 15px;
    opacity: 70%;
    border-radius: 20px;
    &:hover{
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,3);
        padding-bottom: 1px;
    }
}

.Books .Book1,.Book2{
    &:hover{
        box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.6) ;
    }
    & h1{
        font-family:"IBM Plex Serif", serif;
        font-weight: 700;
        color: rgb(94, 153, 204);
        position: absolute;
        text-shadow:5px 5px 7px rgba(14, 58, 170, 0.9) ,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;;
        z-index: -1;
        position: absolute;
    }


    & .descibtion{
        &::first-letter{
            font-size: 50px;
        }
        
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
        width: 55%;
        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        font-weight: 900;
        color: #ffffff;
        word-break: break-word;
        font-size: larger;
        word-spacing: 5px;
        
    }
    width: 950px;
    height: 600px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: absolute;
    
    & .novelimg{
        width: 400px;
        height: 550px;
        position: absolute;
        border-radius: 20px;    

        box-shadow:0px 0px 40px 2px rgba(0, 132, 255, 0.5) ;
    }
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);

}
.Book1{
    h1{
        top: -20px;
        right: 160px;
    }
    top: 300px;
    .novelimg{
        top: 10px;
        left: 10px;
    }
    .descibtion{
        top: 110px;
        right: 0px;
    }
    .read-now{
        right: 30px;
        bottom: 60px;
    }
}



.read-now{
    z-index: 1000;
    width: 100px;
    height: 100px;
    background-color: rgb(162, 25, 16);
    position: absolute;

    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow:0px 1px 20px rgba(255, 25, 0, 0.5) ;
    & p{
        text-align: center;
        margin-top: 40px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        font-weight: 900;
        color: #ffffff;
        word-break: break-word;
        font-size: larger;
        cursor: pointer;
    }

}    
.author-and-rating {

}
.Book2{
    right: 15px;
    top: 950px;
    .novelimg{
        right: 10px;
        top: 10px;
    }
    h1{
        font-size: 50px;
        top: -20px;
        left: 30px;
    }
    .descibtion{
        top: 70px;
        left: 20px;
    }
    .read-now{
        left: 20px;
        bottom: 20px;
    }
}



.Login-body{
    background-image: url("../LoginWall.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;    
    min-height: 10px;
}
.Login-form{
    position: absolute;
    top: 200px;
    right: 480px;
    width: 500px;
    height: 500px;
    background-color:rebeccapurple;
    margin-left: 500px;
    height: 500px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    position: absolute;
    & h1{
        text-align: center;
        margin-top: 10px;

    }
    .pswdl,
    .email{
        position: absolute;
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        color: #0c577d;
        
    }
    .email{
        margin-left: 20px;
    }
    .pswdl{
        margin-top: 120px;
    }
    .submit,
    .pswd,
    .Email{
        position: absolute;
        font-size: 15px;
        margin-left: 225px;
        width: 220px;
        height: 35px;
        border-radius: 8px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.8);
        &::placeholder{
            color: rgb(0, 0, 0);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }
        &::content{
            font-size:1005px ;
        }
        &:focus{
            box-shadow: 2 10px 25px 0 rgba(0, 0, 0, 0.9);
        }

        
    }
    .email{
        margin-left: 60px;
        font-style: italic;
    }
    .pswdl{
        margin-left: 20px;
        font-style: italic;
    }
    .pswd{
        font-size: 20px;
        margin-top: 120px;
    }
    .submit{
        bottom: 100px;
        right: 25%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        letter-spacing: 4px;
        &:hover{
            background-color: #0c577d;
            color: wheat;
            box-shadow: 0 8px 20px 4px rgba(0, 0, 0, 0.8);
        }
    }

    .forgoted{
        position: absolute;
        bottom: 40px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        text-decoration: underline;
        color: #000;
        left: 30%;
    }


}